<mat-nav-list>
  <mat-list-item
    *ngFor="let item of listItemsMenu"
    routerLinkActive="activeLink"
  >
    <a routerLink="{{ item.path }}">
      <button mat-button>
        <mat-icon>{{ item.icon }}</mat-icon>
        {{ item.title }}
      </button>
    </a>
  </mat-list-item>
  <mat-list-item routerLinkActive="activeLink">
    <a routerLink="/test-routes">
      <button mat-button>
        <mat-icon>face</mat-icon>
        ROUTES
      </button>
    </a>
  </mat-list-item>
</mat-nav-list>
