<amb-title [title]="title" [icon]="icon">
  <button mat-raised-button color="primary" (click)="openAlert()">
    <mat-icon>add</mat-icon>
    <span>ADD DRIVER</span>
  </button>
</amb-title>
<amb-container>
  <ng-scrollbar class="maxHeightScrollbar">
    <amb-table [data]="data" [metaData]="metaData"></amb-table>
  </ng-scrollbar>
  <div fxLayout fxLayoutAlign="space-between center">
    <button
      mat-flat-button
      color="warn"
      class="margin-left"
      (click)="showOptionsExport()"
    >
      <mat-icon>download_for_offline</mat-icon>
      Exportar
    </button>
    <amb-paginator
      [quantyRecords]="dataOriginal.length"
      (onPageChanged)="pageChanged($event)"
      [pageSize]="20"
    ></amb-paginator>
  </div>
</amb-container>
