/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

/*html,
body {
  height: 100%;
}*/

h1 {
  font-style: italic;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-error {
  font-style: italic;
  font-size: 12px;
}

.maxHeightScrollbar {
  height: 90% !important;
}

.align-right {
  text-align: right !important;
}
