<mat-nav-list>
  <mat-list-item>
    <mat-icon matListItemIcon svgIcon="excel"></mat-icon>
    <span matListItemTitle>Exportar a Excel</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon svgIcon="pdf"></mat-icon>
    <span matListItemTitle>Exportar a PDF</span>
    <span matLine>Ver el pdf</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon svgIcon="pdf"></mat-icon>
    <span matListItemTitle>Exportar a PDF</span>
    <span matLine>Listo para imprimir</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon svgIcon="pdf"></mat-icon>
    <span matListItemTitle>Exportar a PDF</span>
    <span matLine>Descargar</span>
  </mat-list-item>
</mat-nav-list>
