<div
  class="container"
  fxLayout="row wrap"
  fxLayoutAlign="space-between"
  fxLayoutAlign.lt-md="center"
>
  <div
    class="company"
    fxFlex="1 1 60%"
    fxLayout
    fxLayoutAlign="start end"
    fxHide.lt-md="true"
  >
    <ng-lottie [options]="options" [styles]="styles"></ng-lottie>
    <!--<div>
      <img src="/assets/images/logo-ambulancia.jpg" alt="" />
    </div>
    <h2>Ambulance App</h2>-->
  </div>

  <div
    class="form-login"
    fxFlex="1 1 320px"
    fxFlex.xs="1 1 100%"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div>
      <img src="/assets/images/logo-ambulancia.jpg" alt="" />
    </div>
    <h1>Ambulance App</h1>
    <form fxLayout="column" [formGroup]="fg">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <mat-icon matPrefix>mail</mat-icon>
        <input matInput type="text" formControlName="email" />
        <mat-error
          *ngIf="
            fg.get('email')?.hasError('required') && fg.get('email')?.touched
          "
          >Must write any value to email</mat-error
        >
        <mat-error
          *ngIf="
            fg.get('email')?.hasError('pattern') && fg.get('email')?.touched
          "
          >It's not email</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <mat-icon matPrefix>vpn_key</mat-icon>
        <button
          mat-icon-button
          matSuffix
          (click)="setVisibility()"
          type="button"
        >
          <mat-icon>{{
            passwordHide ? "visibility" : "visibility_off"
          }}</mat-icon>
        </button>

        <input
          matInput
          type="{{ passwordHide ? 'password' : 'text' }}"
          formControlName="password"
        />
        <mat-error
          *ngIf="
            fg.get('password')?.hasError('required') &&
            fg.get('password')?.touched
          "
          >Must write any value to password</mat-error
        >

        <mat-error
          *ngIf="
            (fg.get('password')?.hasError('minlength') ||
              fg.get('password')?.hasError('maxlength')) &&
            fg.get('password')?.touched
          "
          >Password must have between 4 and 8 characters</mat-error
        >
      </mat-form-field>
      <div class="recaptcha">
        <re-captcha formControlName="recaptcha"></re-captcha>
      </div>

      <div fxLayout="column">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="login()"
          [disabled]="fg.invalid"
        >
          LOGIN
        </button>
      </div>
    </form>
  </div>
</div>
